{% extends 'AppBundle::menu.html.twig' %}

{% block content %}
    <form action="{{ path('app_manager_removeresearch', {'id': research.id}) }}" method="post" class="pull-right">
        <button class="btn btn-danger" type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </form>
    <h1>Edytuj</h1>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-info" value="Gotowe"/>
    {{ form_end(form) }}


    <h3>Tagi:</h3>
    {% for tag in research.tags %}
        {#w to miejsce dodaj formularz do usuwania taga z action ustawionym na route z kontrolerem ktory robi redirect na ta strone#}
        <div class="row">

        <form method="post" action="{{ path("app_manager_deltag", {'id': tag.id, 'resId': research.id}) }}">
            {{ tag.name }}
            <button type="submit" class="close pull-left" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
        </form>
        </div>

    {% else %}
        Brak tagów
    {% endfor %}
    <br><br>
    {% form_theme formTag 'bootstrap_3_layout.html.twig' %}
    {{ form_start(formTag) }}
    {{ form_widget(formTag.name) }}
    <input type="submit" class="btn btn-info" value="Dodaj"/>
    {{ form_end(formTag) }}

{% endblock %}

